<div>
<h1>Vega Lite Examples</h1>

<br><br>

<div>
  - [x] make a vega lite graph live component
</div>

<.live_component module={LiveNodeWeb.Live.Graph} id="demo" />

<br><br>

  - [ ] First attempt - tried to render html
  <.vega_lite_function_component />

</div>
